# Miscellaneous requirements for pip
backports.shutil-get-terminal-size==1.0.0
dj-database-url==0.4.2
django-bootstrap-form==3.2.1
Django==1.8
gunicorn==19.0.0
patterns==0.3
redis==2.10.5
rope-py3k==0.9.4.post1
tables==3.3.0
# xlwings==0.10.2
whitenoise==3.3.0
