{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}Create a group{% endblock %}
    {% block content %}
    <div class = "jumbotron text-center">
        <form method="post" action=".">{% csrf_token %}
            Group Name:<br />
            <input class = "form-control" type="text" name="group_name"><br />
            Group members (comma seperated names):<br />
            <input class = "form-control" type="text" name="member_list"><br />
            Reports accessible (comma seperated names):<br />
            <input class = "form-control" type="text" name="report_list"><br />
            <input class = "btn btn default" type="submit" name="send">
        </form>
        <br />
        {% if duplicate_name == True %}
            <b><font size="3" color="red">A group with that name already exists, please select another one.</font></b>
        {% endif %}
        <br />
        {% if invalid_user == True %}
            <b><font size="3" color="red">No user called {{ invalid_name }} </font></b>
        {% endif %}
    </div>
    <h3><a class = "btn btn-default" href="/home/">Home</a></h3>
    <h3><a class = "btn btn-default" href="/groups/">Groups Main Page</a></h3>
    {% endblock %}
</body>
</html>
