{% extends "base2.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font size="6" color="black">Ceate a group</font>{% endblock %}
    {% block content %}
    <div class = "jumbotron text-center">
      <div class="container"  style = "width:60%">
        <form method="post" action=".">{% csrf_token %}
            Group Name:<br />
            <input class = "form-control" type="text" name="group_name"><br />
            Group members (comma seperated names):<br />
            <input class = "form-control" type="text" name="member_list"><br />
            Reports accessible (comma seperated titles):<br />
            <input class = "form-control" type="text" name="report_list"><br />
            <input class = "submit" type="submit" name="send">
        </form>

        {% if no_reports == True %}
        <br />
            <b><font size="3" color="red">You do not have any private reports!</font></b>
        {% endif %}

        {% if invalid_private_report_name == True %}
        <br />
            <b><font size="3" color="red">{{ invalid_report_private }} is not one of your private reports</font></b>
        {% endif %}

        {% if invalid_entry == True %}
        <br />
            <b><font size="3" color="red">Please fill up all the above fields</font></b>
        {% endif %}

        {% if duplicate_name == True %}
        <br />
            <b><font size="3" color="red">A group with that name already exists, please select another one</font></b>
        {% endif %}

        {% if invalid_user == True %}
          <br />
            <b><font size="3" color="red">No user called {{ invalid_name }} </font></b>
        {% endif %}

        {% if invalid_report == True %}
          <br />
            <b><font size="3" color="red">Report {{ invalid_report_name }} does not exist</font></b>
        {% endif %}

      </div>
      <style>
      .jumbotron {
        background-color: rgba(238, 238, 238, 0.65);
      }
      </style>
    </div>
    {% endblock %}
</body>
</html>
