{% extends "base4.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font color="black" size="6">Groups</font>{% endblock %}
    {% block content %}
    <div class = "jumbotron text-center">
      <div class="container"  style = "width:60%">
        <h3 class = "lead"><b><font size="7">{{ group_name }}</font></b></h3>
        <p class = "lead"><font size="5">All members:</font></p>
        {% for member in members %}
        <i><font size="5">{{ member.user.username }}</font></i>
          <br />
        {% endfor %}
        <br />
        <p class = "lead">Add Group Members</p>
        <form method="POST" action="/groups/add_members/">{% csrf_token %}
            <input type="text" name="new_members" />
            <input type="hidden" name="group_id" value={{group_id}} /><br />
            <input class = "btn btn-default" type="submit" value="add" /><br />
        </form>
        <br />
        <p class = "lead"><font size="5">All reports:</font></p>
        {% for report in reports %}
        <i><font size="5">{{ report.title }}</font></i>
          <br />
        {% endfor %}
        <br />
        <br />

        <br />
        {% if is_duplicate == True %}
          <b><font size="3" color="red">User {{ duplicate_name }} is already a member </font></b>
        {% endif %}
        {% if is_invalid == True %}
          <b><font size="3" color="red">User {{ invalid_name }} doen not exist </font></b>
        {% endif %}
        <br />
        <form method="POST" action="/groups/add_members/">{% csrf_token %}
            <input type="hidden" name="username" value={{username}} />
            <input type="hidden" name="group_id" value={{group_id}} /><br />
            <input class = "btn btn-default" type="submit" value="Leave Group" /><br />
        </form>
        <br />
      </div>
    </div>
    {% endblock %}
</body>
</html>
