{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    {% block head %}Groups{% endblock %}
    {% block content %}
    <div class = "jumbotron text-center">
        <a class = "btn btn-default" href="create_group/">Create a Group</a>
        <br /><br />
        <a class = "btn btn-default" href="view_groups/">View all Groups</a>
        <br /><br />
        <a class = "btn btn-default"href="/home/">Home</a>
    </div>
    {% endblock %}
</body>
</html>
