{% extends "base4.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font color="black" size="6">All your groups</font>{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
        {% for group in groups reversed %}
            <p class = "lead"> Group name: {{ group.group_name }}</p>
            <form method="POST" action="/groups/edit_group/">{% csrf_token %}
                <input class = "btn btn-default" type="submit" value="Edit" /><br />
                <input type="hidden" name="group_id" value={{group.id}} /><br />
            </form>
        {% endfor %}
        <br />
    </div>
    {% endblock %}
</body>
</html>
