{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}Here are your groups{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
        {% for group in groups %}
            <p class = "lead"> Group name: {{ group.group_name }}</p>
            <form method="POST" action="/edit_group/">{% csrf_token %}
                <input class = "btn btn-default" type="submit" value="Edit" /><br />
                <input type="hidden" name="group_id" value={{group.id}} /><br />
            </form>
        {% endfor %}
        <br />
    </div>
    <h3><a class = "btn btn-default" href="/home/">Home</a></h3>
    <h3><a class = "btn btn-default" href="/groups/">Groups Main Page</a></h3>
    {% endblock %}
</body>
</html>
