{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
{% block head %}receive a message{% endblock %}
{% block content %}
<div class = "center-div2">
  <ul>
{% for message in messages %}
  <li>  Subject: {{ message.subject }} <br>    </li>
        Body: {{ message.message }} <br>
        From: {{ message.sender }}  <br>
      <form method="POST" action="/delete_message/">{% csrf_token %}
        <input type="hidden" name="message" value={{message.id}} />
        <input type="submit" value="Delete" /><br>
      </form>
      <form method="POST" action="/decrypt_message/">{% csrf_token %}
        <input type="hidden" name="message" value={{message.id}} />
        <input type="submit" value="Decrypt" /><br>
      </form>
{% endfor %}
</ul>
<br>
</div>
<h3><a href="/send_message/">send message</a></h3>
<h3><a href="/home/">home</a></h3>
{% endblock %}
