{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
{% block head %}send a message{% endblock %}
{% block content %}

<div class = "center-div2">

  <form method = "POST" action =".">{% csrf_token %}
      <table border="0">
            {{ form.as_table }}
        </table>
      <input type="submit" class = "login" value="Send Message" />
  </form>
<br>
</div>
<h3><a href="/receive_message/">receive message</a></h3>
<h3><a href="/home/">home</a></h3>
{% endblock %}
