{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
{% block head %}send a message{% endblock %}
{% block content %}
<div class = "center-div2">
  <form>
    message:<br>
    <input type="text" name="message"><br>
    receiver:<br>
    <input type="text" name="receiver"><br>
    submit:<br>
    <input type="submit" name="send">
  </form>
<br>
</div>
{% endblock %}
