{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
{% block head %}Group{% endblock %}
{% block content %}
<div class = "center-div2">
  <ul>
    <h3>{{ group_name }}</h3>
{% for member in members %}
    <li>{{ member.user.username }}</li>
{% endfor %}
  <form method="POST" action="/add_members/">{% csrf_token %}
    <input type="text" name="new_members" />
    <input type="hidden" name="group_id" value={{group_id}} /><br>
    <input type="submit" value="add" /><br>
  </form>
  <form method="POST" action="/add_members/">{% csrf_token %}
    <input type="hidden" name="username" value={{username}} />
    <input type="hidden" name="group_id" value={{group_id}} /><br>
    <input type="submit" value="exit" /><br>
  </form>
</ul>
<br>
</div>
<h3><a href="/home/">home</a></h3>
{% endblock %}
