
{% extends "base.html" %}


<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

    {% block head %}Groups !{% endblock %}
    {% block content %}
         <div class = "center-div">
    <h3><a href="create_group/">create a group</a></h3>
    <h3><a href="view_groups/">view all groups</a></h3>
    <h3><a href="/home/">home</a></h3>
{% endblock %}

</div>
</body>
