{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
{% block head %}THE WALL{% endblock %}
{% block content %}
<div class = "center-div2">
  <ul>
{% for post in posts %}
    <li>      {{ post.message }} <br>    </li>
        From: {{ post.sender }}  <br>
{% endfor %}
</ul>
<br>
</div>
<h3><a href="/home/">home</a></h3>
{% endblock %}
