{% extends "base2.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font size="6" color="black">Make a post</font>{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class="jumbotron text-center">
        <form method="POST" action="/wall/make_post/">{% csrf_token %}
            <b><font size="4">Anonymous: </font></b><input type="checkbox" name="anonymous" value="Anonymous" />
            <br />
            <br />
            <input type="text" name="message" />
            <input type="submit" name="post" value="Post" />
        </form>
        <br />
    </div>
    {% endblock %}
</body>
</html>
