{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    {% block head %}<font size="7" color="black">Message management</font>{% endblock %}
    {% block content %}
    <div class = "jumbotron text-center">
        <a class = "btn btn-default" href="send_message/">Send a Message</a>
        <br /><br />
        <a class = "btn btn-default" href="receive_message/">Receive a Message</a>
        <br /><br />
    </div>
    {% endblock %}
</body>
</html>
