{% extends "base4.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font color="black" size="6">Messages</font>{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-left">
        <div class="container"  style = "width:60%">
        <ul>
            {% if is_decrypted == True %}
                <b><font size="3" color="red">Message is already decrypted</font></b>
            {% endif %}
            <br />
            <br />
            {% for message in messages reversed %}
                <p class="lead">{{message.sender}} ({{message.time_created}})</p>
                <p class="lead"><b>{{message.subject}}</b></p>
                {% if message.encrypt ==  True %}
                  <p class="lead"><i><small>This message needs to be decrypted</small></i></p>
                {% endif %}
                {% if message.encrypt ==  False %}
                  <p class="lead"><i><small>{{message.message}}</small></i></p>
                {% endif %}
                <form method="POST" action="/messaging/delete_message/">{% csrf_token %}
                    <input type="hidden" name="message" value={{message.id}} />
                    <input class = "btn btn-default" type="submit" value="Delete" />
                </form>
                <form method="POST" action="/messaging/decrypt_message/">{% csrf_token %}
                    <input type="hidden" name="message" value="{{message.id}}" />
                    <input class = "btn btn-default" type="submit" value="Decrypt" />
                </form>
                <hr align="center" size="10" nonshade width="100%" color="black">
            {% endfor %}
        </ul>
        <br />
      </div>
    </div>
    <div class = "text-center">
    </div>
    {% endblock %}
</body>
</html>
