{% extends "base2.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}<font size="6" color="black">Send a message</font>{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
      <div class="container"  style = "width:60%">
        <form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table border="0">
            {{ form|bootstrap }}
            </table>
            <input type="submit" class = "submit" value="Send Message" />
        </form>
        <br />
        </div>
    </div>
    {% endblock %}
</body>
</html>
