{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}Send a Message{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
      <div class="container"  style = "width:60%">
        <form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table border="0">
            {{ form|bootstrap }}
            </table>
            <input type="submit" class = "login" value="Send Message" />
        </form>
        <br />
        </div>
    </div>
    <div class = "text-center">
      <a class = "btn btn-default" href="/messaging/receive_message/">Receive Message</a>
      <a class = "btn btn-default" href="/home/">Home</a>
    </div>
    {% endblock %}
</body>
</html>
