{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
        {% if empty_field == True %}
            <b><font size="3" color="red">Please fill at least one search criterea</font></b>
        {% endif %}
        <form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table border="0">
            {{ form|bootstrap }}
            </table>
            <input type="submit" class = "btn btn-default" value="search" />
        </form>
        <br />

    </div>
    <h3><a class = "btn btn-default" href="/logout/">Logout</a></h3>
    <h3><a class = "btn btn-default" href="/home/">Home</a></h3>
    {% endblock %}
</body>
</html>
