{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block head %}Advanced search filters{% endblock %}
    {% block content %}{% load bootstrap %}
    <div class = "jumbotron text-center">
      <div class="container"  style = "width:55%">
        {% if empty_field == True %}
            <b><font size="3" color="red">Please fill at least one search criterea</font></b>
        {% endif %}
        {% if time_error == True %}
            <b><font size="3" color="red">time field must be in HH:MM[:ss[.uuuuuu]] format</font></b>
        {% endif %}
        <form method = "POST" action ="." class = "form-group">{% csrf_token %}
            <table border="0">
            {{ form|bootstrap }}
            </table>
            <p><font size="3">Time input must be in HH:MM format</font></p>
            <br />
            <br />
            <input type="submit" class = "btn btn-default" value="Search" />
        </form>
      </div>
    </div>
    <h3><a class = "btn btn-default" href="/logout/">Logout</a></h3>
    {% endblock %}
</body>
</html>
