<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}
        User Registration
    {% endblock %}
    {% block head %}
        User Registration
    {% endblock %}
    {% block content %}
        {% load bootstrap %}
        <div class = "jumbotron text-center">
            <form method="post" action=".">{% csrf_token %}
                <table border="0">
                    {{ form|bootstrap }}
                </table>
                <input type="submit" class = "login" value="Register" />
            </form>
            <br />
            <a class = "btn btn-default" href="/">Already have an account? Login</a>
        </div>
    {% endblock %}
</body>
</html>
