<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Registration Successful{% endblock %}
    {% block head %}{% endblock %}
    {% block content %}{% load bootstrap %}
      <div class = "jumbotron text-center">
        <h1><font size="9">Registration Completed Successfully!</font></h1>
        <h2>Thank you for registering.</h2>
        <br />
        <br />
        <a class="btn btn-default" href="/"><font size="5">Login</font></a>
      </div>
      {% endblock %}
</body>
</html>
