<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Django Login Application | {% block title %}{% endblock %}</title>
    <body style="background-size:cover" background=https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg></body>
    <h1><font align="center" size="6" color="black"><b>LOKAHI FINTECH <br /> <hr align="center" size="10" nonshade width="50%" color="black"> {{user.user.username }}</b></font></h1>
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container" >{% include "navbar.html"%}</div>
    <style>
    .jumbotron {
      background-size: contain;
      background-color: rgba(238, 238, 238, 0.65);
    }
    </style>
  </div>

    <h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
