
{% extends "base.html" %}


<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>


{% block title %}<h1>Welcome to Django</h1>{% endblock %}



    {% block head %}Welcome to Django{% endblock %}
    {% block content %}
         <div class = "center-div">



             <h2><p>Welcome {{ user.user.username }}!!!</p></h2>
             <h2><p>You are a {{ user.user_role }}!</p></h2>
    <h3><a href="/logout/">Logout</a></h3>
    <h3><a href="/send_message/">send message</a></h3>
    <h3><a href="/receive_message/">receive message</a></h3>
    <h3><a href="/groups/">groups</a></h3>
    <h3><a href="/wall/">see the public wall</a></h3>
    <h3><a href="/post/">make a post to the wall</a></h3>
{% endblock %}

</div>
</body>
