  <div style="text-align:center" class="btn-group">
      {% if type == "Company User" %}
          <a class="btn btn-default" href="/reports/create_report/">Create a Report</a>
      {% endif %}
      {% if type == "Site Manager" %}
          <a class="btn btn-default" href="/user_management/">Manage Users</a>
      {% endif %}
      <a class="btn btn-default" href="/reports/list_report/">View reports</a>
      <a class="btn btn-default" href="/messaging/">Messaging</a>
      <a class="btn btn-default" href="/groups/">Groups</a>
      <a class="btn btn-default" href="/wall/">Public Wall</a>
      <a class = "btn btn-default" href="/home/">Home</a>
      <a class = "btn btn-default" href="/logout/">Logout</a>
  </div>
