{% extends "base.html" %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Upload Files</title>
</head>
<body>
    {% block title %}TEST{% endblock %}
    {% block head %}TEST{% endblock %}
    {% block content %}
        <h1>Hello</h1>
        <form method = "POST" action = "" enctype="multipart/form-data">
            {% csrf_token %}{{ form.as_p }}
            <input type="submit" class = "login" value="Upload" />
        </form>
    {% endblock %}
</body>
</html>
